<html ng-app="newApp">
  <head>
    <title>Hi Iris [THE TITLE]</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
  </head>
  <body>
    <div class="container" ng-cloak>
      <h1>Hi {{.Name}}</h1>
      << 1 + 1 >>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="assets/javascripts/application.js"></script>
  </body>
</html>
